<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary">
      <h2 class="text-center mb-4 text-primary">Login Form</h2>
      <form [formGroup]="myForm" (ngSubmit)="onRedirect()" autocomplete="off">
          <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control border border-primary" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email">
              <span class="form-text text-danger" *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)">
                <span *ngIf="myForm.get('email')?.hasError('required')">Este campo es requerido</span>
                <span *ngIf="myForm.get('email')?.hasError('email')">Debe ingresar un correo válido</span>
              </span>
          </div>
          <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control border border-primary" id="exampleInputPassword1" formControlName="password">
              <span class="form-text text-danger" *ngIf="myForm.get('password')?.invalid && (myForm.get('password')?.dirty || myForm.get('password')?.touched)">
                <span *ngIf="myForm.get('password')?.hasError('required')">Este campo es requerido</span>
                <span *ngIf="myForm.get('password')?.hasError('minlength')">Debe ingresar mínimo 3 caracteres</span>
              </span>
          </div>
          <p class="small"><a class="text-primary" >Forgot password?</a></p>
          <div class="d-grid">
              <button class="btn btn-primary" type="submit">Login</button>
          </div>
      </form>
      <div class="mt-3">
          <p class="mb-0  text-center">Don't have an account? <a href="signup.html"
                  class="text-primary fw-bold">Sign
                  Up</a></p>
      </div>
  </div>
</div>
